.ProductTile {
  // display: inline-block; 
  width: 100%; 
  height: 100%; 
}

.ProductTile__Image {
  width: 100%;
  height: 100%; 
  display: block; 
  transition: transform .4s ease-out; 


  &:hover {
    transform: scale(1.1);
   
  }
}

.ProductTile__Info {
  margin-top: 2rem; 
  text-align: center;
} 

.ProductTile__heading {
  margin-bottom: .4rem;   
}

.ProductTile__price {
  font-size: 1.1rem; 
  letter-spacing: 3px;
}