//MAIN IMAGE SECTION
.MainImage {
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center; 

  &__image {  
    height: 100%; 
    width: 100%;
    object-fit: cover;
  }

  &__textArea {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
  }

  &__text {
    font-size: 6.5rem; 
    text-transform: uppercase;
    color: white; 
    letter-spacing: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.89);
    font-family: Helvetica, sans-serif; 
    display: none; 
    // text-shadow:2px 2px 2px rgba(0,0,0,0.3);

    @media only screen and (min-width: 641px) {
      display: block; 
      font-size: 6.5rem; 
      letter-spacing: 28px;
    }
  }

  &__cta {
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-top: 12px; 
    padding-bottom: 12px; 
    padding-left: 32px; 
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    align-self: center;
  }
}


 
.Home__FreeShipping__Image {
  width: 100%;
  height: 5%;
}

.Home__Video {
  width: 100%;
}