/* Cart  */
.Drawer {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: calc(100vw - 65px);
  height: 100vh;
  max-height: none;
  z-index: 20;  
  transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #fff;  
  box-shadow: none;
  touch-action: manipulation
}

.Drawer:focus {
  outline: none
}

.Drawer::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 10px rgba(54, 54, 54, 0.2), -2px 0 10px rgba(54, 54, 54, 0.2);
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.Drawer--secondary {
  background: #fff
}

.Drawer--fromRight {
  right: 0;
  left: auto;
  transform: translateX(calc(100vw - 65px))
}

.Drawer[aria-hidden="false"] {
  visibility: visible;
  transform: translateX(0)
}

.Drawer[aria-hidden="false"]::before {
  opacity: 1
}

.Drawer__Container {
  width: 100%
}

.Drawer--fromRight .Drawer__Container {
  padding-left: 24px;
  padding-right: 18px
}

.Drawer__Header {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  max-height: 60px;
  background: inherit;
  text-align: center;
  z-index: 1
}

@supports (--css: variables) {
  .Drawer__Header {
      height: var(--header-height)
  }
}

.Drawer__Header--center {
  justify-content: center
}

.Drawer__Close {
  position: absolute;
  margin-left: 0;
  left: 18px;
  top: calc(50% - 7px);
  line-height: 0
}

.Drawer__Close {
  width: 15px;
  height: 15px;
}

.Drawer--fromRight .Drawer__Close {
  right: 18px;
  left: auto
}

.Drawer__Header--bordered {
  box-shadow: 0 -1px #ddd inset
}

.Drawer--secondary .Drawer__Header--bordered {
  box-shadow: 0 -1px rgba(221, 221, 221, 0.6) inset
}

.Drawer--secondary .Collapsible {
  border-bottom-color: rgba(221, 221, 221, 0.6)
}

.Drawer__Content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 60px);
  max-height: calc(100% - 50px)
}

@supports (--css: variables) {
  .Drawer__Content {
      height: calc(100% - var(--header-height));
      max-height: calc(100% - var(--header-height))
  }
}

@supports (width: calc(max(100%))) {
  .Drawer__Content {
      height: calc(max(100% - var(--header-height), 100% - 60px));
      max-height: calc(max(100% - var(--header-height), 100% - 60px))
  }
}

.Drawer__Main {
  flex: 1 1 auto
}

.Drawer__Footer {
  flex: none;
  box-shadow: 0 -1px #ddd
}

.Drawer--secondary .Drawer__Footer {
  box-shadow: 0 -1px rgba(221, 221, 221, 0.6)
}

.Drawer__Footer--padded {
  padding: 24px
}

@media screen and (min-width: 641px) {
  .Drawer {
      width: 400px;
      transform: translateX(-100%)
  }
  .Drawer--small {
      width: 340px
  }
  .Drawer--fromRight {
      transform: translateX(100%)
  }
  .Drawer__Header {
      max-height: 80px;
      min-height: 60px
  }
  .Drawer__Content {
      min-height: calc(100% - 80px);
      max-height: calc(100% - 80px)
  }
  .Drawer--fromLeft .Drawer__Container,
  .Drawer--fromRight .Drawer__Container {
      padding-left: 30px;
      padding-right: 30px
  }
  .Drawer__Close {
      left: 30px
  }
  .Drawer--fromRight .Drawer__Close {
      right: 30px;
      left: auto
  }
  .Drawer__Close svg {
      stroke-width: 1.5px
  }
  .Drawer__Footer--padded {
      padding: 24px 30px
  }
}

[data-drawer-animated-left],
[data-drawer-animated-right] {
  opacity: 0;
  transition: opacity 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
  transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s;
  transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s
}

.Drawer[aria-hidden="false"] [data-drawer-animated-left],
.Drawer[aria-hidden="false"] [data-drawer-animated-right] {
  opacity: 1;
  transform: translateX(0)
}

[data-drawer-animated-left] {
  transform: translateX(-65px)
}

[data-drawer-animated-right] {
  transform: translateX(65px)
}

[data-drawer-animated-bottom] {
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.Drawer[aria-hidden="false"] [data-drawer-animated-bottom] {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s
}

.Drawer[aria-hidden="false"] {
  visibility: visible;
  transform: translateX(0);
}



// *********************************** CART *********************************//

.Cart__ShippingNotice {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 10px;
  border-bottom: 1px solid #ddd;
  line-height: normal;
  z-index: 1;
  background: #fff
}

.Cart__Empty {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-animation: cartEmptyOpening 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: cartEmptyOpening 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
}

@media screen and (min-width: 641px) {
  .Cart__ShippingNotice {
      font-size: 12px
  }
}

.CartItemWrapper {
  overflow: hidden
}

.CartItem {
  display: table;
  table-layout: fixed;
  margin: 30px 0;
  width: 100%
}

.CartItem__ImageWrapper,
.CartItem__Info {
  display: table-cell;
  vertical-align: middle
}

.CartItem__ImageWrapper {
  width: 90px;
  min-width: 90px;
  text-align: center
}

.CartItem__Info {
  padding-left: 25px
}

.CartItem__Title {
  width: 100%;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.CartItem__Title,
.CartItem__Variant,
.CartItem__PropertyList {
  margin-bottom: 0.45em
}

.CartItem__Meta {
  font-size: 8px
}

.CartItem__PropertyList {
  list-style: none;
  font-style: italic
}

.CartItem__Actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.CartItem__PriceList {
  margin-bottom: 16px
}

.CartItem__Remove {
  margin: 8px 0;
  font-size: 7px
}

.CartItem__Remove::before {
  background: #909090
}

@media screen and (min-width: 641px) {
  .CartItem__ImageWrapper {
      width: 120px
  }
  .CartItem__Title {
      font-size: 11px
  }
  .CartItem__Meta {
      font-size: 10px
  }
  .CartItem__Remove {
      font-size: 8px
  }
  .CartItem__PriceList {
      margin-bottom: 20px
  }
}

.Cart .Drawer__Footer,
.Cart__OffscreenNoteContainer {
  padding: 14px 24px 24px 24px
}

.Cart__Taxes {
  display: block
}

.Cart__Checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 18px
}

.Cart__OffscreenNoteContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  border-top: 1px solid #ddd;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out
}

.Cart__OffscreenNoteContainer[aria-hidden="false"] {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 1px 0 6px rgba(54, 54, 54, 0.2);
  box-shadow: 1px 0 6px rgba(54, 54, 54, 0.2)
}

.Cart__Note {
  margin-top: 10px
}

.has-note-open[aria-hidden="false"] .Drawer__Header,
.has-note-open[aria-hidden="false"] .Drawer__Main {
  opacity: 0.4;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease
}

@media screen and (min-width: 641px) {
  .Cart .Drawer__Footer,
  .Cart__OffscreenNoteContainer {
      padding: 20px 30px 30px 30px
  }
  .Cart__NoteButton+.Cart__Taxes {
      margin-top: 4px
  }
  .Cart__Taxes {
      margin-bottom: 8px
  }
}

.Cart--expanded .Cart__Footer {
  padding-top: 25px;
  border-top: 1px solid #ddd
}

.Cart--expanded .Cart__Recap {
  text-align: right
}

.Cart--expanded .Cart__Recap,
.Cart--expanded .Cart__Recap .Cart__Checkout {
  margin-top: 16px
}

.Cart--expanded .Cart__Checkout {
  margin-left: auto
}

@media screen and (max-width: 640px) {
  .CartItem__Info ~ .CartItem__Actions,
  .CartItem__Info ~ .CartItem__LinePrice {
      display: none
  }
}

@media screen and (min-width: 641px) {
  .Cart--expanded .Cart__ItemList {
      display: table;
      table-layout: auto;
      border-spacing: 0 30px;
      width: 100%
  }
  .Cart--expanded .Cart__Head {
      display: table-header-group
  }
  .Cart--expanded .Cart__HeadItem {
      display: table-cell;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd
  }
  .Cart--expanded .CartItem {
      display: table-row
  }
  .Cart--expanded .CartItem__Info {
      max-width: 300px;
      width: 300px
  }
  .Cart--expanded .CartItem__Info>.CartItem__Actions {
      display: none
  }
  .Cart--expanded .CartItem__Info ~ .CartItem__Actions,
  .Cart--expanded .CartItem__Info ~ .CartItem__LinePrice {
      display: table-cell;
      vertical-align: middle
  }
  .Cart--expanded .CartItem__QuantitySelector {
      margin-bottom: 6px
  }
  .Cart--expanded .Cart__Footer {
      display: table;
      width: 100%;
      table-layout: fixed
  }
  .Cart--expanded .Cart__Recap,
  .Cart--expanded .Cart__NoteContainer {
      display: table-cell
  }
  .Cart--expanded .Cart__NoteContainer {
      width: 340px
  }
  .Cart--expanded .Cart__Checkout {
      width: auto
  }
}

@media screen and (min-width: 1240px) {
  .Cart--expanded .CartItem__Info {
      max-width: 425px;
      width: 425px
  }
}

