@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.CheckoutHeader {
  font-size: 5rem; 
  text-align: center;
  background-color: white;

  &--small {
    @media only screen and (min-width: 1000px) {
      display: none; 
    }
  }

  &--large {
    display: none; 

    @media only screen and (min-width: 1000px) {
      display: block; 
    }
  }
}

.CheckoutToggle {
  background-color: #fafafa; 
  border-top: 1px solid #e6e6e6; 
  border-bottom: 1px solid #e6e6e6; 
  padding: 1.75rem 0; 
  cursor: pointer; 

  @media only screen and (min-width: 1000px) {
    display: none; 
  }

  &__heading {
    max-width: 532px; 
    padding: 0 1.4rem; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between;
  }

  &__text {
    color: #caa98a; 

    i {
      margin-right: .7rem;
    }
  }

  &__total{
    font-size: 1.8rem; 
    color: #333333; 
  }
}

.CheckoutFooter {
  border-top: 1px solid #e6e6e6; 
  padding: 1.4rem 0; 
  margin-top: auto; 

  &__text {
    color: #737373; 
    font-size: 1.2rem; 
  }  
}

.Checkout {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem; 
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 

  &__content {
    flex: 1 0 auto; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
    
    
    // height: 100%; 
    
    // @media only screen and (min-width: 1000px) {
    //   max-width: 1100px; 
    // }
  }




  &__wrap {
    max-width: 532px; 
    margin: 0 auto; 
    width: 100%; 
    padding: 0 1.4rem; 
    display: flex; 
    flex-direction: column-reverse; 
    flex: 1 0 auto; 

    // testing!!!
    // box-sizing: content-box; 

    @media only screen and (min-width: 1000px) {
      flex-direction: row; 
      max-width: 1263px; 
      width: 90%; 
      padding: 0 5%; 
    }
  }




  &__main {
    padding-top: 1.5rem; 
    flex: 1 0 auto; 
    display: flex; 
    flex-direction: column;

    @media only screen and (min-width: 1000px) {
      width: 52%; 
      padding-right: 6%; 
      padding-top: 4rem;
    }
  }

  &__aside {
    position: relative; 

        &::after {
          content: "";
          display: block;
          width: 300%;
          position: absolute;
          top: 0;
          left: -100%;
          bottom: 0;
          background: #f7f7f7;
          z-index: -1;
          box-shadow: 0 -1px 0 #dedede inset; 
          
          @media only screen and (min-width: 1000px) {
            left: 0; 
            box-shadow: 1px 0 0 #dedede inset; 
            background-position: left top;
          }
        }
    
    @media only screen and (min-width: 1000px) {
      width: 38%;
      padding-left: 4%;
      padding-top: 4rem;
    }
  }

  

  

  




























  

  // &__form { 
  //   width: 100%; 
  // }

  // &__preview {
  //   background-color: #f7f7f7;
  //   display: none; 
    
  //   @media only screen and (min-width: 1000px) {
  //     display: block; 
  //   }
  // }







  // FORM componenets 

  // &__header {
  //   font-size: 5rem; 
  //   text-align: center;
  //   background-color: white;
  // }

  // &__summary {
  //   background-color: #fafafa; 
  //   border-top: 1px solid #e6e6e6; 
  //   border-bottom: 1px solid #e6e6e6; 
  //   padding: 1.75rem 0; 
  //   cursor: pointer; 
    

  //   &__heading {
  //     max-width: 560px; 
  //     padding: 0 1.4rem; 
  //     margin: 0 auto; 
  //     display: flex; 
  //     justify-content: space-between;
  //   }

  //   &__text {
  //     color: #caa98a; 
  //   }

  //   &__total{
  //     font-size: 1.8rem; 
  //     color: #333333; 
  //   }

  //   @media only screen and (min-width: 800px) {
  //     display: none;
  //   }
  // }

  // &__toggle {
  //   background-color: #fafafa;
  //   border-bottom: 1px solid #e6e6e6; 

  //   @media only screen and (min-width: 800px) {
  //     display: none;
  //   }
  // }

  // &__content {
  //   width: 100%; 
  //   max-width: 560px; 
  //   padding: 0 1.4rem; 
  //   margin: 0 auto; 
  //   display: flex; 
  //   flex-direction: column; 
  //   // background-color: red; 

  //   &__form {
  //     padding-top: 2.1rem; 
  //     padding-bottom: 5.6rem; 
  //   }

  //   @media only screen and (min-width: 800px) {
  //     max-width: 100%; 
  //   }
  // }

  // &__footer {
  //   border-top: 1px solid #e6e6e6; 
  //   padding: 1.4rem 0; 
  //   margin-top: auto; 

  //   &__text {
  //     color: #737373; 
  //     font-size: 1.2rem; 
  //   }    
  // }



  // &__main {
  //   padding-top: 2.1rem; 
  // }

  
}

