@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.Checkout {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem; 
  height: 100%; 

  display: grid; 
  grid-template-columns: repeat(10, 1fr);

  

  &__form {
    grid-column: 1/-1; 
    

    @media only screen and (min-width: 800px) {
      grid-column: 2/7; 
    }
  }

  &__preview {
    background-color: #f7f7f7;
    display: none; 
    

    @media only screen and (min-width: 800px) {
      display: block; 
      grid-column: 7/-1; 
    }
  }

  // FORM componenets 

  &__header {
    font-size: 5rem; 
    text-align: center;
    background-color: white;
  }

  &__summary {
    background-color: #fafafa; 
    border-top: 1px solid #e6e6e6; 
    border-bottom: 1px solid #e6e6e6; 
    padding: 1.75rem 0; 
    cursor: pointer; 
    

    &__heading {
      max-width: 560px; 
      padding: 0 1.4rem; 
      margin: 0 auto; 
      display: flex; 
      justify-content: space-between;
    }

    &__text {
      color: #caa98a; 
    }

    &__total{
      font-size: 1.8rem; 
      color: #333333; 
    }

    @media only screen and (min-width: 800px) {
      display: none;
    }
  }

  &__toggle {
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6; 

    @media only screen and (min-width: 800px) {
      display: none;
    }
  }

  &__content {
    width: 100%; 
    max-width: 560px; 
    padding: 0 1.4rem; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    // background-color: red; 

    &__form {
      padding-top: 2.1rem; 
      padding-bottom: 5.6rem; 
    }

    @media only screen and (min-width: 800px) {
      max-width: 100%; 
    }
  }

  &__footer {
    border-top: 1px solid #e6e6e6; 
    padding: 1.4rem 0; 
    margin-top: auto; 

    &__text {
      color: #737373; 
      font-size: 1.2rem; 
    }    
  }



  &__main {
    padding-top: 2.1rem; 
  }

  
}











.Wizard {
  &__heading {
    margin-bottom: 1.4rem; 
    color: #333333; 
    font-size: 1.8rem; 
    font-weight: normal; 
  }

  &__shippingAddress{
    padding-top: 2.8rem; 
  }

  
}