.Product {
  position: relative;
  margin: 0 auto 50px auto;
}

.Product__Gallery {
  position: relative;
  margin-bottom: 28px;
}

.Carousel {
  position: relative;
}

.Product__Slideshow {
  padding-top: 50px;
}

.Product__Info, .Product__Aside {
  max-width: 500px;
  margin: 0 auto;
}
.ProductMeta {
  text-align: center;
}

.ProductMeta__Title {
  margin-bottom: 0;
}

.ProductMeta__PriceList {
  margin-top: 15px;
}

.ProductMeta__Description {
  margin: 24px 0;
  padding-top: 24px;
  border-top: 1px solid #ddd;
  text-align: left;
}

.ProductForm {
  margin-top: 24px;
}

.ProductForm__Variants {
  margin-bottom: 25px;
}

.ProductForm__Option {
  position: relative;
  margin-bottom: 10px;
}

.ProductForm__Option--labelled {
  margin-bottom: 20px;
}

.ProductForm__Label {
  display: block;
  margin-bottom: 8px;
}

.ProductForm__LabelLink {
  float: right;
  text-decoration: underline;
  text-underline-position: under;
}

.ProductForm__AddToCart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SizeSwatch {
  display: inline-block;
  text-align: center;
  min-width: 36px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  color: #6a6a6a;
  cursor: pointer;
}

.SizeSwatch__Radio {
  display: none;
}

.afterpay-paragraph {
  font-size: 14px;
}

@media screen and (min-width: 641px) {
  .Product {
      margin-bottom: 80px;
  }
  .Product__Gallery {
    margin-bottom: 65px;
  }
  .Product__Info .Container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1008px) {
  .Product__Wrapper {
      max-width: calc(100% - 525px);
      margin-left: 0;
  }
  .Product__Gallery {
    margin-left: 50px;
  }
  .Product__InfoWrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  .Product__Info {
    position: sticky;
    top: 80px;
    right: 0;
    width: 375px;
    margin: 0 100px -40px 50px;
    padding-top: 65px;
    padding-bottom: 40px;
  }
  .ProductMeta {
    text-align: left;
  }
}

@media screen and (min-width: 1240px) {
  .Product--medium {
      max-width: 1300px;
  }
  .Product__Wrapper {
    max-width: calc(100% - 550px);
  }
  .Product__Gallery {
    margin-bottom: 80px;
  } 
  .Product__Gallery--stack .Product__Gallery--withThumbnails {
    display: flex;
  }
  .Product__Gallery--stack.Product__Gallery--withThumbnails .Product__Slideshow, .Product__Gallery--stack.Product__Gallery--withThumbnails .Product__SlideshowNav {
    flex: 1 0 auto;
  }
  .Product__Gallery--stack.Product__Gallery--withThumbnails .Product__Slideshow {
    margin-left: 50px;
  }
  .Product__Info {
    width: 400px;
  }
}



