.ProductItem {
  text-align: center;
  white-space: normal
}

.ProductItem__Wrapper {
  position: relative
}

.ProductItem__Info {
  margin-top: 20px;
  font-size: 10px
}

.ProductItem__Vendor,
.ProductItem__Title {
  display: block;
  margin-bottom: 4px
}

.ProductItem__PriceList {
  margin-top: 12px
}

.ProductItem__Image--alternate {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0 !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center
}