.ProductList {
  &__header {
    height: 56vh; 
    width: 100%; 
    background-size: cover; 
    background-position: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
  }

  h1 {
    color: white; 
    font-weight: 300;  
  }

  &__sort {
    background-color:white; 
    box-shadow: 1px 1px #ddd, -1px -1px #ddd; 
    position: sticky; 
    top: var( --sort-top); 
    width: 100%; 
    display: flex; 
    justify-content: center;
    z-index: 20;

    @media only screen and (min-width: 641px) {
      justify-content: flex-end;
    }
    
    button {
      padding: 1.5rem 0; 

      @media only screen and (min-width: 641px) {
        padding: 1.8rem 4.5rem; 
        border-left: 1px solid #ddd; 
      }
    }

    i {
      margin-left: 1rem; 
    }
  }

  &__collection {
    padding: 5vw 2.5vw; 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    // grid-auto-rows: 50vh; 
    justify-items: center;
    column-gap: 2.5vw;
    row-gap: 5vw; 

    @media screen and (min-width: 641px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}















