.QuantityForm {
  border: 1px solid #ddd; 
  display: flex; 
  align-items: center; 

  &__button {
    color: currentColor; 
    padding: 1rem 1.2rem; 
    cursor: pointer; 

    i {
      color: currentColor; 
    }

    @media only screen and (min-width: 427px) {
      padding: 1.5rem 1.7rem; 
    }
  }

  @media only screen and (min-width: 427px) {
    font-size: 1.1rem;
  }
}