@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400&display=swap');
@import './mainnav'; 
@import './sidenav'; 
@import './newsletter'; 
@import './modal'; 
@import '../components/pages/Home/home'; 
@import '../components/ProductTile/productTile'; 
@import '../components/pages/Product/product'; 
@import './footer'; 
@import '../components/cart/cart.css'; 
@import '../components/SectionHeader/sectionheader.css'; 
@import '../components/ProductForm/productForm'; 
@import './productList'; 
@import '../components/FeaturedCollection/featureCollection'; 

/* Main colors */
:root {
  --color-main-grey: #6a6a6a; 
  --color-main-black: #1c1b1b;  
  --color-primary: #caa98a;  
  --header-height: 5rem;  

  @media only screen and (min-width: 641px) {
    --header-height: 5.9rem; 
  }
  @media only screen and (min-width: 1240px) {
    --header-height: 10.03rem; 
  }

  --sort-top: var(--header-height); 
}

/* General Reset  */

* {
  margin: 0;
  padding: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
} 

body {
  font-family: 'Nunito', sans-serif;
  color: var(--color-main-black);
  line-height: 1.65;
  font-weight: 400;
  background: #fff;
  
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black; 
}


ul, ol {
  list-style-type: none;
  list-style-position: inside;
}

p {
  font-size: 1.3rem;
}

button {
  cursor: pointer;
  background: none; 
  border: none; 

  &:focus {
    outline: none; 
  }
}

// .Section {
//   padding: 5rem 0;
// }

// .SectionFooter {
//   margin-top: 5rem; 
//   text-align: center; 
// }

// .SectionHeader {
//   text-align: center;
//   margin-bottom: 4rem;
// }

// .Container {
//   // margin: 0 auto;
//   padding: 0 2.4rem;
// }

.Heading {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  color: #1c1b1b;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.Button {
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    // z-index: 1;

    &--primary {
      color: #fff;
      background-color: #caa98a; 
      border-color: #caa98a;
    }

    &--secondary {
      color: #6a6a6a;
      border: 1px solid rgba(106,106,106,0.2);
    }

    &--full {
      width: 100%;
    }
}

.Text--subdued {
  color: var(--color-main-grey); 
}

// .HorizontalList__Item {
//   display: inline-block;
//   margin: 6px 8px 6px 8px;
// }

// .LinkList__Item {
//   margin-bottom: 1.2rem;
//   line-height: 1.5; 

//   a {
//     font-size: 1.3rem;
//   }
  
// }

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.8rem; 
}

.h4 {
  font-size: 1.5rem; 
}

.h6 {
  font-size: 1.2rem;
}

.h7 {
  font-size: 1.1rem;
}

.PageOverlay {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: #363636; 
  opacity: 0; 
  z-index: -1; 
  transition: all .3s ease-in-out; 

  &--visible {
    opacity: 0.5; 
    z-index: 2; 
  }
}

// @media screen and (min-width: 641px) {
//   .Container {
//     padding: 0 5rem; 
//   }
//   .h6 {
//       font-size: 12px;
//   }
// }

